#kkpager{
	clear:both;
	height:30px;
	margin-top:10px;
	color:#999999;
	font-size:14px;
}
#kkpager a{
	float: left;
	border: 1px solid #ccc;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	background: #fff;
}
#kkpager span{
	font-size:14px;
}
#kkpager span.disabled{
	float: left;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border:1px solid #DFDFDF;
	background-color:#FFF;
	color:#DFDFDF;
}
#kkpager span.curr{
	float: left;
	border: 1px solid #31ACE2;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	background: #F0FDFF;
	color: #31ACE2;
}
#kkpager a:hover{
	border:1px solid #31ACE2;
	background-color:#31ACE2;
	color:#fff;
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
	display:inline-block;
	width:44px;
	height:18px;
	border:1px solid #DFDFDF;
	margin:0px 1px;
	padding:0px;
	position:relative;
	left:0px;
	top:5px;
}
#kkpager_btn_go {
	width:44px;
	height:20px;
	line-height:20px;
	padding:0px;
	text-align:center;
	border:0px;
	background-color:#31ACE2;
	color:#FFF;
	position:absolute;
	left:0px;
	top:-1px;
	display:none;
}
#kkpager_btn_go_input{
	width:42px;
	height:18px;
	text-align:center;
	border:0px;
	position:absolute;
	left:0px;
	top:0px;
	outline:none;
}
